* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #000;
}

#root {
  background: #000;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

/* heather */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* left-header */
.left-header {
  display: flex;
  align-items: center;
}

.logo-netflix img{
  width: 200px;
}

.nav-menu {
  color: #fff;
  list-style: none;
  margin-left: 40px;
}

.nav-menu li {
  display: inline-block;
  padding-left: 10px;
}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
}

.nav-menu li a:hover {
  color: lightgray;
}

/* right-header */
.right-header input {
  background-color: #000;
  color: #9AA0A6;
  height: 40px;
  font-size: 18px;
  outline: none;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
}

.right-header #icon-search img {
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  width: 25px;
}

#input-container {
  display: none;
}

#input-container img {
  width: 25px;
  cursor: pointer;
  padding-top: 6px;
  margin-left: 10px;
}


.right-header {
  display: flex;
  justify-content: flex-end;
}

/* movie-cards */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}

img.flag {
  height: 12px;
  margin-left: 5px;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 375px;
  perspective: 1000px;
  margin: 20px 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;

}

.flip-card-front {
  background-size: cover;
  background-position: center;
  background-color: #0F0F0F;
}

.flip-card-back {
  background-color: #0F0F0F;
  color: white;
  transform: rotateY(180deg);
}

.back-image {
  width: 100%;
  height: 60%;
  background-size: cover;
  border-radius: 8px 8px 0 0;
}

.container-info-movie {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.original-language-info {
  font-size: 14px;
}

.original-language-info p {
  font-style: italic;
}

i.fas.fa-star {
  margin-left: 4px;
}

i.far.fa-star {
  margin-right: 4px;
}



/* media query */
@media screen and (max-width: 964px) {
  .nav-menu {
    display: none;
  }
}
