* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  background: #000;
  min-height: 100vh;
}

/* heather */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > * {
  margin: 0 30px;
}

input {
  background-color: #000;
  color: #9AA0A6;
  height: 40px;
  /* width: 95%; */
  font-size: 18px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

/* button {
  appearance:none;
  -webkit-appearance:none;
  padding:10px;
  border:none;
  background-color:#f00;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width: 100px;
  cursor: pointer;
} */

.container-search .btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #f00;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  text-align: center;
}

.container-search {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

/* movie-cards */
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px 0;
}

img.flag {
  width: 25px;
}

.title {
  color: #f00;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 375px;
  perspective: 1000px;
  margin: 20px 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-size: cover;
}

.flip-card-back {
  background-color: #0F0F0F;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
